
.user-name-icon-box span {
  display: none;
}
@media (max-width: 768px) {  
  .product-form-submit {  
    margin-right: 0;
    margin-top: 20px;
  }  
  .div-specification-size{
    width: 96%;
  }
}  
@media (min-width: 768px) {  
  .product-form-submit{
    margin-right: 8px;
  }
  .div-specification-size{
    width: 35%;
  }
}  
@media only screen and (min-width: 580px) {

  .user-name-icon-box {
    background: var(--dark-blue); 
    padding: 8px 24px; 
    border-radius: 20px;
  }

  .user-name-icon-box a {
    display: flex;
    gap: .5rem;
    align-items: center;
    color: rgba(248, 249, 250, 1);
  }

  .user-name-icon-box a span {
    display: inline;
  }

  .user-name-icon-box a .icon {
    color: rgba(248, 249, 250, 1);
  }

}

@media only screen and (max-width: 580px) {
  .user-name-icon-box i {
    color: var(--dark);
  }
  .user-name-icon-box span i {
    display: none;
  }
}

#loader-div {
  width: 100%;
  height: 100%;
  background: #f3f3f3;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  position: absolute;
  display: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

#loader {  
  border: 10px solid #f3f3f3;  
  border-top: 10px solid #3498db;  
  border-radius: 50%;  
  width: 50px;  
  height: 50px;  
  animation: spin 1s linear infinite;  
}  

@keyframes spin {  
  0% { transform: rotate(0deg); }  
  100% { transform: rotate(360deg); }  
}
.discount-product{
  background: var(--red);
  border-radius: 17px;
  margin-right: 2px;
  margin-left: 5px;
  width: 40px;
  display: flex;
  justify-content: center;
}

@page {
  margin-block: 30px;
}
#growls-default {
    right: 80%;
  }
h1, h2, h3, h4, h5, h6,input, textarea {
  font-family: Vazir !important;
}
.page-header {
  margin-top: 10px;
  margin-bottom: 10px;
}
.app-header {
  padding-top: 10px;
  padding-bottom: 10px;
}